extends ./layout/index


block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                h2 SkyVoyage - Tu Puerta al Mundo
                
                
                p Nuestro equipo de expertos en viajes se encarga de planificar cada detalle, desde la reserva de vuelos hasta el alojamiento y las actividades locales, asegurando que tu única preocupación sea disfrutar al máximo. Con alianzas estratégicas con aerolíneas de renombre, te garantizamos acceso a las mejores ofertas y conexiones para que llegues a tu destino de manera rápida y eficiente.. 
                
            .col-md-6
                img(src= "/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid.text-center")
        
        include ./layout/bloques_viajes
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 3 de Octubre de 2024 - 31 de Julio de 2025
                        p.precio $2.500 USD  
        
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloques_testimoniales