extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt = "", class="img-fluid" )
            .col-md-7 
                h1 #{pagina}

                p Descubre el mundo con SkyVoyage

                p En SkyVoyage, transformamos tus sueños de viajar en experiencias inolvidables. Somos una agencia de viajes especializada en la                 organización de vuelos y paquetes personalizados, ofreciendo a nuestros clientes la oportunidad de explorar los destinos más asombrosos del mundo con               comodidad, seguridad y excelentes tarifas.

                p Nuestros servicios incluyen:

                p * Vuelos nacionales e internacionales: Ofrecemos una amplia variedad de opciones de vuelo a precios competitivos.
                p * Paquetes personalizados: Diseñamos experiencias de viaje a la medida de tus necesidades y deseos.
                p * Atención al cliente 24/7: Estamos disponibles para ayudarte en cada etapa de tu viaje, desde la planificación hasta tu regreso.

    .listado-iconos      
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p En SkyVoyage, garantizamos tu seguridad en cada paso del viaje, trabajando solo con aerolíneas de confianza y cumpliendo con los    más altos estándares internacionales.    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Descubre los mejores destinos del mundo, desde las playas paradisíacas del Caribe hasta las vibrantes ciudades europeas, todo mientras disfrutas de los mejores precios del mercado. 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Con nosotros, viajar es fácil, seguro y asequible. ¡Prepárate para tu próxima aventura con SkyVoyage! 