extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt = "", class="img-fluid" )
            .col-md-7 
                h1 #{pagina}

                blockquote Donec lacinia bibendum urna ac convallis. Etiam sem dolor, lobortis eget eleifend quis, rutrum ac lacus. Ut metus ligula, dapibus a massa vel, pulvinar lacinia mi. 
               
                p 
                Curabitur ut odio nec lacus luctus rhoncus. Aenean bibendum nulla odio. Aenean fringilla leo lectus, sit amet mattis lorem eleifend sit amet. 
                Phasellus urna ex, accumsan a metus vitae, pretium cursus risus. Pellentesque nec urna dignissim, suscipit lorem porttitor, luctus turpis. 
                Nam placerat mi diam, at egestas risus pharetra nec. Duis non rhoncus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed molestie pharetra dignissim. Nullam eget pretium sapien. Duis fringilla, mi vitae fringilla aliquam, nulla enim fermentum nibh, sed dictum nunc turpis vel justo.

                p 
                Curabitur malesuada tellus lacus, nec sagittis purus pharetra vitae. Aenean aliquam tempus elit ut dapibus. 
                Fusce faucibus dignissim elit, a gravida lacus placerat vitae. Sed a nulla eget purus eleifend mollis vel vel elit. Duis nec pellentesque nisl, vel fermentum nulla. 
                Nunc accumsan dolor sit amet diam cursus tempus. Duis efficitur leo et dui tincidunt euismod. Proin viverra ligula ante, et lacinia tortor porttitor nec. 
                In aliquam ipsum at diam malesuada, a mollis justo pellentesque. Donec a congue tortor, sed viverra nisl. 
                Nunc sit amet tortor aliquet, fringilla neque id, malesuada purus. Aenean varius viverra porta.

    .listado-iconos      
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices est sit amet auctor vulputate. Nam eu justo sed enim ullamcorper tempor. 
                    Donec lacinia bibendum urna ac convallis. Etiam sem dolor, lobortis eget eleifend quis, rutrum ac lacus. Ut metus ligula, dapibus a massa vel, pulvinar lacinia mi.    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices est sit amet auctor vulputate. Nam eu justo sed enim ullamcorper tempor. 
                    Donec lacinia bibendum urna ac convallis. Etiam sem dolor, lobortis eget eleifend quis, rutrum ac lacus. Ut metus ligula, dapibus a massa vel, pulvinar lacinia mi. 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices est sit amet auctor vulputate. Nam eu justo sed enim ullamcorper tempor. 
                    Donec lacinia bibendum urna ac convallis. Etiam sem dolor, lobortis eget eleifend quis, rutrum ac lacus. Ut metus ligula, dapibus a massa vel, pulvinar lacinia mi. 