doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombresitio} | #{pagina}
        <!--Bootstrap-->
        link(rel="stylesheet", href="/css/bootstrap.css")
        <!--Css-->
        link(rel="stylesheet", href="/css/style.css")
        <!--Font Google-->
        link(rel='preconnect' href='https://fonts.googleapis.com')
    body(class= clase) 
        include header
        block slider
        block contenido
        include footer